/** Defining fonts **/
@font-face {
    font-family: 'Title';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_display_titling-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_display_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DemiSC';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_light_sc_demi-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_light_sc_demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldSC-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc_bold_italic-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookSC';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldAlt';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_bold-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alt-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_italic-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldAlt-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bolditalicalt-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bolditalicalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookAlt';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookalt-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookSC-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookscitalic-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookscitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
