/** Defining fonts **/
@font-face {
    font-family: 'Title';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_display_titling-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_display_titling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DemiSC';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_light_sc_demi-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_light_sc_demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldSC-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc_bold_italic-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookSC';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_sc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldAlt';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_bold-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alt-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_italic-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutra_text_tf_alt_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BoldAlt-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bolditalicalt-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bolditalicalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookAlt';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookalt-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookSC-I';
    src: url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookscitalic-webfont.woff2') format('woff2'),
         url('https://falconloft.github.io/scifihomebrewery/fonts/neutratext-bookscitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.phb {
	background-color: transparent;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("http://www.pixelstalk.net/wp-content/uploads/2016/06/Purple-galaxy-high-quality-resolution-wallpapers.jpg");
	background-position: -300px -100px;
	background-size: 350%;
}

.phb blockquote p {
	color: #000;
	margin-bottom;
	text-indent: 0px;
}

.phb blockquote h6 {
	color: #aaa;
	border-bottom: 2px solid #00A6CF;
}

.phb blockquote li {
	color: #aaa;
	margin-bottom;
	0px;
}

.phb pre+blockquote, .phb h2+blockquote, .phb h3+blockquote, .phb h4+blockquote, .phb h5+blockquote {
	margin-top: 10px;
}

.phb .toc a {
	color: #aaa;
	font-size: 100%;
}

.phb .toc ul {
	color: #aaa;
	font-size: 100%;
	line-height: 1em;
}

.phb .toc li {
	color: #aaa;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.phb p {
	padding-bottom: 5px;
	font-kerning: normal;
	font-family: 'Play', sans-serif;
	font-weight: 300;
	font-size: 13.5px;
	margin: 0px 0px 15px 0px;
	text-indent: 0px;
	padding: 0px;
	color: #aaa;
}

.phb strong {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 700;
}

.phb smallcaps {
	font-variant: small-caps;
}

.phb manual-pad {
	font-size: 18.5px;
}

.phb p+p {
	text-indent: 0px;
}

.phb ul {
	padding-left: 35px;
}

.phb p+ul {
	margin-top: -10px;
}

.phb li {
	font-family: 'comfortaa', sans-serif;
	font-size: 13px;
	line-height: 1.3em;
	color: #aaa;
}

.phb li+h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}

pre+h2, pre+h3, pre+h4 {
	padding-top: 2px;
}

.phb ol+p, .phb table+p {
	text-indent: 0px;
}

.phb h5+blockquote {
	color: #aaa
}

.phb h1 {
	font-kerning: normal;
	text-align: center;
	text-shadow: 2px 2px 10px #84d1fb, -2px -2px 10px #84d1fb, -2px 2px 10px #84d1fb, 2px -2px 10px #84d1fb, 0px 0px 5px #fff;
	color: #808080;
	mix-blend-mode: hard-light;
	z-index: 2;
	font-family: "Title", sans-serif;
	font-weight: 700;
	font-size: 56px;
}

.phb h1+p::first-letter {
	float: none;
	font-family: Josefin Sans;
	font-weight: 700;
	font-size: 1em;
	color: #aaa;
	line-height: .8em
}

.phb h2 {
	font-kerning: normal;
	text-shadow: 2px 2px 10px #fec134, -2px -2px 10px #fec134, 2px -2px 10px #fec134, -2px 2px 10px #fec134, 0px 0px 5px #fff;
	color: #808080;
	mix-blend-mode: hard-light;
	z-index: 2;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 27px;
}

.phb h3 {
	font-kerning: normal;
	text-shadow: 2px 2px 10px #84d1fb, -2px -2px 10px #84d1fb, -2px 2px 10px #84d1fb, 2px -2px 10px #84d1fb, 0px 0px 5px #fff;
	color: #808080;
	mix-blend-mode: hard-light;
	z-index: 2;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	border-bottom: 0px;
}

.phb h4 {
	font-kerning: normal;
	text-shadow: 2px 2px 10px #feb303, -2px -2px 10px #feb303, -2px 2px 10px #feb303, 2px -2px 10px #feb303, 0px 0px 5px #fff;
	color: #808080;
	mix-blend-mode: hard-light;
	z-index: 2;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	margin-bottom: 4px;
	font-size: 18px;
}

.phb p+p, .phb ul+p, .phb ol+p {
	text-indent: 0px;
}

.phb h5 {
	color: #aaa;
	border-bottom: 2px solid #15A8F6;
	font-size: 15px;
	font-weight: 700;
	font-family: "Josefin Sans", sans-serif;
    font-variant: small-caps;
}

.phb h6 {
	color: #aaa;
	font-family: "Josefin Sans";
    margin-bottom: 3px;
	font-size: 13.5px;
	font-weight: 700;
	border-bottom: 2px solid #ff8000;
    font-variant: small-caps;
}

.phb#p1 {
	text-align: center;
}

.phb#p1:after {
	display: none;
}

.phb blockquote {
	box-sizing: border-box;
	margin-bottom: 1.5em;
	padding: 10px 20px 0px 20px;
	border-style: none;
	border-width: 2px;
	border-image: none;
	border-image-outset: 9px 0;
	border-color: #000;
	box-shadow: 0px 0px 20px #000;
	font-size: 13px;
	font-color: #999;
	line-height: 1.1em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: transparent;
	line-height: 1.3em;
	font-size: 11px;
	-moz-box-shadow: 0px 0px 10px 2px #15A8F6, inset 0 0 10px 1px #15A8F6;
	-webkit-box-shadow: 0px 0px 10px 2px #15A8F6, inset 0 0 10px 1px #15A8F6;
	box-shadow: 0px 0px 10px 2px #15A8F6, inset 0 0 10px 1px #15A8F6;
}

.phb blockquote p {
	font-size: 11px;
	line-height: 1.3em;
	color: #aaa;
}

.phb blockquote h5 {
	color: #aaa;
	font-family: comfortaa
}

.phb hr+blockquote tr:nth-child(odd) td {
	background-color: #ccc;
	font-size: 13px;
}

.phb table {
	text-align: justify;
	background-color: transparent;
	font-size: 13px;
	font-family: "comfortaa", sans-serif;
}

.phb table strong {
	font-size: 11px;
	font-family: "comfortaa", sans-serif;
    text-transform: uppercase;
	font-weight: 700;
}

.phb table thead th {
	padding: .3em .3em .3em .6em;
	color: #aaa;
	font-size: 11px;
	font-weight: 700;
    text-transform: uppercase;
	font-family: "comfortaa", sans-serif;
}

table tr:nth-child(odd) td {
	line-height: 1.3em;
	color: #aaa;
	font-family: "comfortaa", sans-serif;
	font-size: 11px;
	font-weight: 300;
}

table tr:nth-child(even) td {
	color: #aaa;
	line-height: 1.3em;
	font-family: "comfortaa", sans-serif;
	font-size: 11px;
	font-weight: 300;
}

.phb table tbody tr td {
	vertical-align: middle;
	font-family: "comfortaa", sans-serif;
	padding: .5em .6em .3em .6em
}

.phb table tbody tr:nth-child(odd) {
	font-family: "Nunito", sans-serif;
	background-color: rgba(255, 255, 255, 0.1);
}

wide {
	line-height: 1.2em;
}

.phb .classTable {
	border-image: none;
	background-color: transparent;
	border: 0px;
}

.phb .pageNumber {
	color: rgba(0, 0, 0, 0.6)
}

.phb .footnote {
	color: rgba(0, 0, 0, 0.6)
}

.phb:after {
	background-image: none
}
